body {
    font-family: Verdana, sans-serif;
}

.title {
    font-family: Georgia, serif;
    text-align: center;
}

h2,
h3 {
    font-family: Georgia, serif;
    font-size: 24px;
}

img {
    height: 400px;
    width: auto;
}